body {
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

.section {
    margin: 20px;
}

#app {
    max-width: 600px;
    margin: auto;
}

label, input {
    display: block;
    margin: 10px 0;
}

button {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
}
